.note {
   background: #f3f3f3;
   width: 240px;
   border-radius: 7px;
   box-shadow: 0 2px 5px rgb(175, 175, 175);
   padding: 10px;
   margin: 16px 45px 16px 45px;
   float: left;
   margin-right: 0;
   transition: all 0.2s ease-in-out;
   .editTag {
      p {
         color: #6f63ad;
         position: absolute;
         transform: translateY(-150%) translateX(100%);
         font-family: monospace;
         margin: 0;
         font-size: 1rem;
      }
   }
   .titleWrap {
      h1,
      textarea {
         color: #6f63ad;
         background: #f3f3f3;
         font-family: monospace;
         margin: 0;
         padding: 0;
         font-size: 1.1rem;
         font-weight: 600;
         white-space: pre-wrap;
         word-wrap: break-word;
      }
   }
   .textWrap {
      p,
      textarea {
         color: #6f63ad;
         background: #f3f3f3;
         font-family: monospace;
         margin: 0;
         padding: 0;
         font-size: 1rem;
         white-space: pre-wrap;
         word-wrap: break-word;
      }
   }
   textarea {
      color: #6f63ad;
      width: 100%;
      border: none;
      outline: none;
      overflow: hidden;
      resize: none;
   }
   .buttonBlock {
      width: 100%;
      height: 30px;
      button {
         display: none;
         cursor: pointer;
         position: relative;
         float: right;
         border: none;
         background: none;
         outline: none;
         i {
            color: #808080;
            font-size: 25px;
         }
         .bx-trash-alt {
            transition: all 0.1s ease-in-out;
            &:hover {
               color: #6f63ad;
            }
         }
         .bx-edit-alt {
            transition: all 0.1s ease-in-out;
            &:hover {
               color: #6f63ad;
            }
         }
      }
   }
   &:hover {
      button {
         display: block;
      }
   }
}
